server:
  port: 8002

spring:
  profiles:
    active: dev
  application:
    name: ZijiezDemo
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        acknowledge-mode: manual # 手动应答,设置了此选项，消费者必须应答
  mvc:
    view:
      prefix: /templates/
      suffix: .html


